@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using MovieRamaWeb.Data
@using MovieRamaWeb.Domain.Enums;
@inject SignInManager<User> SignInManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="row">
        <div class="col-1">
            <a href="/?sortType=@MovieSortType.Likes&sortOrder=@Model.SortOrder">Likes</a>
        </div>
        <div class="col-1">
            <a href="/?sortType=@MovieSortType.Hates&sortOrder=@Model.SortOrder">Hates</a>
        </div>
        <div class="col-1">
            <a href="/?sortType=@MovieSortType.Date&sortOrder=@Model.SortOrder">
                Date
            </a>
        </div>
    </div>
    @if (Model.SelectedCreatorId.HasValue)
    {
        <div class="row">
            <a href="/">Back to List</a>
        </div>
    }
    <div class="col-md-6">
        @foreach (var movie in Model.Movies)
        {
            <h1>@Html.DisplayFor(m => movie.Title)</h1>
            <div>
                Posted by
                <a href="/creator/@movie.Creator.Id">@movie.Creator.UserName</a>
                @movie.PublishedAt
            </div>
            <br>
            <p>@movie.Description</p>
            <div class="row">
                <a class="submitLike col-md-2" href="" data-id="@movie.Id">@movie.NumberOfLikes likes</a>
                <a class="submitHate col-md-2" href="" data-id="@movie.Id">@movie.NumberOfHates hates</a>
            </div>
            @if(movie.UserPreference != null)
            {
                <div class="row">
                    <p class="col-md-4">@movie.PreferenceText</p>
                    <a class="submitRemove col-md-4" href="" data-id="@movie.Id">Click to remove</a>
                </div>
            }
            
        }
    </div>
    <div class="col-md-2">
        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-page="/moviesubmit">New Movie</a>
        }
    </div>
</div>


@section Scripts {
    <script src="~/js/moviePreference.js">
        
   </script>
}



